{% extends 'base.html' %}
 {% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<!-- content block -->
{% block content %}
</div>
  <div class=" col-md-8">
       <a class="btn btn-primary text-center " href="/blog/new-blog/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Start a blog</a>
       <a class="btn btn-info text-center  " href="/subscribe/"></span> Subscribe</a>
       <hr>
  </div>
   {% if blogs %}
  <div class=" col-md-8">
            {% for blog in blogs%}
            <div class="thumbnail">
             <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <p>{{ blog.author }}</p>
                        <small class="text-muted">{{ blog.date_posted.strftime('%Y-%m-%d')}}</small>
                        <hr>
                    </div>
                    
            <a href="/view-blog/{{blog.id}}">{{blog.title | upper}}</a>
                    <p >{{ blog.content }}</p>
                </div>
            
            </div>
            <a class="btn btn-primary text-center text-danger" href="/comment/{{blog.id}}">Comment</a>
                <a class="btn btn-danger" href="/delete-blog/{{blog.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
<hr>
          {% endfor %}
            </div>
             {%else%}
        <div class="well">
          <h4 style="padding:10%; text-align:center; font-size:50px">No blogs created yet</h4>
        </div>
{% endif %}
       
{% endblock %}